body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: white;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h3,
h3,
h4,
h5,
h6,
nav,
.btn {
  font-family: Raleway, sans-serif;
}

.container {
  max-inline-size: 1400px;
  inline-size: 85vw;
  margin-inline: auto;
}
