// variables.scss:1

// colors
$bg-main: hsl(218, 28%, 13%);
$bg-primary: hsl(217, 28%, 15%);
$bg-secondary: hsl(219, 30%, 18%);
$bg-tertiary: hsl(216, 53%, 9%);

// accent colors
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$light-red: hsl(0, 100%, 63%);

// neutral colors
$white: hsl(0, 0%, 100%);

// font-family
$font-primary: "open sans", sans-serif;
$font-secondary: "raleway", sans-serif;

// gradient
$gradient: linear-gradient(to right, $cyan, $blue);
$gradient-hover: linear-gradient(90deg, $cyan 100%, $blue 100%);
